{
  "printWidth": 100,
  "tabWidth": 2,
  "proseWrap": "preserve",
  "trailingComma": "all",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.mdc",
      "options": {
        "parser": "markdown"
      }
    }
  ]
}
